{% extends "base.twig" %}

{% block styles %}

    <link href="{{ asset_url }}/assets/css/register.css" rel="stylesheet">

{% endblock %}


{% block title %}PWPOP - User's products{% endblock %}

{% block header %}
    {% if isLogged %}

        <li class="nav-item">
            <a class="nav-link" href="{{ base_url() }}/addItem">Add item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ base_url() }}/items">My items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ base_url() }}/profile">My profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ base_url() }}/logout">Logout</a>
        </li>

    {% else %}

        <li class="nav-item">
            <a class="nav-link" href="{{ base_url() }}/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ base_url() }}/register">Register</a>
        </li>

    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
            <div class="flex-column">
                <div class="alert alert-primary" role="alert" style="margin: 105px auto 0 auto;font-size: xx-large;text-align: center;">
                    <div class="spinner-grow" role="status" style="margin-right: 16px;">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Results of the search: <strong>{% if search != '' %}'{{ search }}'{% endif %}</strong>
                    <div class="spinner-grow" role="status" style="margin-left: 16px;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>


                <div class="row">

                    {% if items|length == 0 %}

                        <div class="alert alert-warning" role="alert" style="margin: 245px auto 245px auto;">
                            <div class="spinner-grow" role="status" style="margin-right: 16px;">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <strong>Info:</strong> No items found!
                            <div class="spinner-grow" role="status" style="margin-left: 16px;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                    {% else %}

                        {% for item in items|slice(0,5) %}

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a href="{{ base_url() }}/item/{{ item.id }}"><img class="card-img-top" src="{{ base_url() }}/assets/uploads/productImages/{{ item.image }}" alt="Error!"></a>
                                    <div class="card-body">
                                        <h4 class="card-title" style="text-align: center;">
                                            <a href={{ base_url() }}/item/{{ item.id }}"> {{ item.title }}</a>
                                        </h4>
                                        <p class="card-text"> {{ item.description }}</p>
                                        <div class="alert alert-info" role="alert">
                                            <h5 style="text-align: center;padding-top: 5px;">{{ item.price }} €</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    {% endif %}

                </div>

            </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/checkRegisterForm.js" onsubmit="return checkRegister()" type="text/javascript"></script>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}