{% extends 'base.html.twig' %}
{% set i = 1 %}
{% block content %}
    <p>User id: {{ act['id_user'] }}</p>
    <p>Name: {{ act['name'] }}</p>
    <p>Description: {{ act['description'] }}</p>
    <p>Created at: {{ act['created_at'] }}</p>
    <p>Activity time: {{ act['activity_time'] }}</p>

    {% if errors|length > 0 %}
        <p>Errores encontrados!</p>
        {% for e in errors %}
            <li>{{ e }}</li>
        {% endfor %}
    {% endif %}

    {% if logged %}
        <form action="/activity/{{ act['id'] }}/delete">
            <input type="submit" value="Delete activity" />
        </form>
    {% endif %}

    {% if e|length > 0 %}
        <p>{{ e[0] }}</p>
    {% endif %}
{% endblock %}

{% block navbar %}
{% endblock %}